* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  line-height: 1.8;
}

.container {
  display: flex;
  margin: 0 auto;
}

.sidebar {
  width: 25%;
  background-color: #eeeeee;
  color: #36AE92;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-content: center;
}

.sidebar p {
  font-size: 18px;
}

/* 버튼 공통 스타일 */
.sidebar button,
.sidebar .sidebtn {
  display: inline-block; /* a 태그와 button 태그의 일관성 유지 */
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00462a;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%; /* 버튼이 전체 너비에 맞게 확장됨 */
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none; /* a 태그의 밑줄 제거 */
  transition: background-color 0.3s ease, transform 0.2s ease; /* hover 효과 추가 */
}

/* hover 효과 */
.sidebar button:hover,
.sidebar .sidebtn:hover {
  background-color: #36AE92; /* hover 시 버튼 색상 변경 */
  transform: scale(1.05); /* 약간 커지는 효과 */
}

.main-board {
  width: 75%;
  padding: 15px;
}

.mainbtn {
  padding: 5px;
  background-color: #00462a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mainbtn:hover {
  background-color: #36AE92;
  transform: scale(1.05);
}

.myinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.myinfo h1 {
  font-size: 50px;
  font-weight: bold;
}

.myinfo h2 {
  font-size: 35px;
  font-weight: bold;
}

.myinfo h3 {
  font-size: 21px;
  font-weight: bold;
}

.myinfo .info-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sales-list table {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  background-color: white;
  align-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sales-list table th, .sales-list table td {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sales-list table th {
  background-color: #00462a;
  color: white;
}