* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left, .right {
    width: 45%;
}
h2 {
    margin: 0;
}
.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.product-image {
    width: 300px; 
    height: auto; 
    object-fit: contain; 
}
