* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Newsreader';
    font-size: 40px;
    font-weight: 400;
    color: #3E6332;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;  
}

.user-status {
    background-color: #3E6332;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.user-name{
    font-size: 14px;
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

.products {
    padding: 20px;
    align-items: center;
}

.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter-category {
    text-align: right;
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.filter-category button {
    background-color: #f0f0f0;
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.product-seller {
    position: absolute;
    top: 20px;
    left: 50px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.product-image {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.product-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.product-name, .product-price, .product-status, .product-description {
    font-size: 16px;
    font-weight: bold;
}


.product-rating{
    font-size: 25px;
    color: black
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination button {
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    padding: 10px 15px; 
    cursor: pointer;
    border-radius: 8px;
}

.pagination button:hover {
    background-color: #e0e0e0; 
}

.pagination button:active {
    background-color: #d0d0d0; 
    border-color: #999; 
}
