.form-page {
    padding-top: 40px; /* Ensures space for the fixed navbar */
}

.form-page h1 {
    position: relative;
    top: -20px; /* 제목만 위로 이동 */
    margin-left: 20px; /* 제목을 오른쪽으로 이동 */
    margin-bottom: 20px; /* 아래 항목과의 간격 조정 */
}

.form-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-left: 85px; /* 왼쪽 테두리와의 간격 추가 */
    margin-top: -20px; /* 폼 전체를 위로 이동 */
}


.left-column, .right-column {
    width: 48%;
}

.left-column label, 
.right-column label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px; /* 라벨 아래의 간격 조정 */
    color: #666;
}

.left-column input, 
.left-column select, 
.right-column input, 
.right-column select, 
.right-column textarea {
    width: 70%;
    padding: 8px;
    margin-top: 5px; /* 라벨과 입력 필드 사이의 간격 */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 수정된 부분: submit 버튼 스타일 */
form input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    min-width: 50%; /* 너비 설정 */
    display: block; /* 블록 요소로 설정 */
    margin: 0 0 0 0 10%; /* 왼쪽으로 약간 이동 */
}


form input[type="submit"]:hover {
    background-color: #36b300cb;
}

#preview {
    width: 150px; /* 정사각형의 가로 크기 */
    height: 150px; /* 정사각형의 세로 크기 */
    object-fit: cover; /* 이미지가 정사각형을 벗어나지 않도록 잘림 */
    border-radius: 10px; /* 모서리를 둥글게 하려면 숫자 조정 */
}


/* 기본 체크박스 스타일 숨김 */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

/* 체크박스에 체크되었을 때 스타일 */
input[type="checkbox"]:checked {
    background-color: green;
    border-color: green;
    position: relative;
}

/* 체크박스 안에 'ewhagreen' 글씨 추가 */
input[type="checkbox"]:checked::after {
    content: 'ewhagreen';
    color: white;
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
}
