* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.back-link {
    padding: 5px 10px;
    color: white;
    background-color: #333;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 24px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #555;
}

.review-detail {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.review-container {
    display: flex;
    gap: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-section,
.review-section {
    flex: 1;
}

.product-section {
    text-align: left;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.product-info h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}

.product-image {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.rating {
    font-size: 18px;
    color: #333;
}

.purchase-date {
    padding: 5px 0;
    font-size: 14px;
    color: black;
    text-align: left;
}

.review-section {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nickname {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.review-date {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.review-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    flex-grow: 1; /* Ensures the review content fills remaining space */
}

.review-box h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.review-box p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .review-container {
        flex-direction: column;
        gap: 20px;
    }

    .product-section,
    .review-section {
        padding: 0;
    }
}
