{% extends "indexSeller.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='browseStyle.css') }}">
{% endblock %}

{% block content %}
<div class="product-list-header">
    <h1>{{ "이화그린 상품 리스트" if green_view else "상품 리스트" }}</h1>
    <div class="toggle-switch-container">
        <label class="switch">
            <input type="checkbox" id="listToggle" onchange="redirectToPage()" {{ 'checked' if green_view else '' }}>
            <span class="slider round"></span>
        </label>
        <label for="listToggle">이화그린 item</label>
    </div>
</div>

<div class="product-list">
    {% if products and products|length > 0 %}
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card" onclick="location.href='{{ url_for('product_detail', product_name=product.name) }}'">
            <img src="{{ url_for('static', filename='uploads/' + product.img_path) }}" alt="상품 이미지">
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p>₩ {{ product.price | int }}</p>
                <p>{{ product.description_short }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>상품이 없습니다.</p>
    {% endif %}
</div>

<script>
    function redirectToPage() {
        const toggle = document.getElementById('listToggle');
        if (toggle.checked) {
            window.location.href = "{{ url_for('browse') }}?green_view=True";
        } else {
            window.location.href = "{{ url_for('browse') }}?green_view=False";
        }
    }
</script>
{% endblock content %}
