{% extends "indexSeller.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
{% endblock %}

{% block content %}
<section class="welcome">
    <h2>안녕하세요, <span class="nickname">{{session['nickname']}}</span> 님</h2>
    <p><b>제품을 판매할 준비가 되셨나요? 성공적인 하루를 기원합니다!</b></p>
</section>

<section class="recent-sales">
    <h3>Recent Sales</h3>
    <div class="product-list">
        {% for product in recent_sales %}
        <div class="product">
            <img src="{{ url_for('static', filename='uploads/' ~ product['img_path']) }}" alt="{{ product['name'] }}">
            <br><b>{{ product['name'] }}</b><br>
            <p>₩{{ product['price'] }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}