{% extends "indexBuyer.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
{% endblock %}

{% block content %}
<section class="welcome">
    <h2>안녕하세요, <span class="nickname">{{user}}</span> 님</h2>
    <p><b>오늘도 특별한 상품들이 기다리고 있습니다. 즐거운 쇼핑 되세요!</b></p>
</section>

<section class="recent-sales">
    <h3>Recent Sales</h3>
    <div class="product-list">
        {% for product in recent_sales %}
        <div class="product">
            <img src="{{ product['img_url'] }}" alt="{{ product['name'] }}">
{#            <img src="{{ url_for('static', filename='uploads/' ~ product['img_path']) }}" alt="{{ product['name'] }}">#}
            <br><b>{{ product['name'] }}</b><br>
            <p>₩ {{ product.price | int }}</p>
        </div>
        {% endfor %}
    </div>
</section>

{#<script>#}
{#    // JWT 토큰을 JavaScript로 전달#}
{#    const token = "{{ token }}";#}
{##}
{#    // storeJWT 함수 호출#}
{#    if (token) {#}
{#        storeJWT(token);#}
{#    } else {#}
{#        console.error("Token not provided");#}
{#    }#}
{#</script>#}

<script src="{{ url_for('static', filename='jwt-handler.js') }}"></script>

{% endblock content %}