{% extends "indexSeller.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='mypageStyle.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <!-- 사이드바 -->
    <aside class="sidebar">
      <div class="profile-pic">
        <img src="{{ url_for('static', filename='images/profile.webp') }}" alt="프로필 사진">
      </div>
      <p> 안녕하세요 <span class="nickname">{{ session['nickname']}}</span>
        (<span class="user_id">{{ session['id']}}</span>)님! </p>
      <button class="profile">개인정보 조회 / 수정</button>
      <a href="{{ url_for('register') }}" id="register-btn" class="sidebtn">새로운 상품 등록하기</a>
    </aside>

    <!-- 메인 콘텐츠 -->
    <main class="main-board">
      <h2 style="margin: 20px;"><span class="nickname">{{ session['nickname']}}</span> (<span class="user_id">{{ session['id']}}</span>) 님의 판매 현황   <br> </h2>
      <!-- 첫 번째 섹션: 주문 및 리뷰 정보 -->
      <section class="myinfo">
        <div class="info-item">
          <h3>등록된 리뷰 수</h3>
          <h2>{{ total_reviews }}</h2>
        </div>

        <div class="info-item">
          <h3>누적 주문 수</h3>
          <h2>{{ total_orders }}</h2>
        </div>
      </section>

      <!-- 두 번째 섹션: 상품 리스트 -->
      <section class="sales-list">
        <h2 style="margin-left: 20px;"> <span class="nickname">{{ session['nickname']}}</span> (<span class="user_id">{{ session['id']}}</span>) 님의 주문 리스트</h2>
        <table>
          <thead>
            <tr>
              <th>주문번호</th>
              <th>상품이름</th>
              <th>구매자ID</th>
              <th>카테고리</th>
              <th>주문일자</th>
            </tr>
          </thead>
          
          <tbody>
            {% if orders and orders|length > 0 %}
              {% for order in orders %}
              <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('product_detail', product_name=order.product_name) }}">
                    {{ order.product_name }}
                  </a>
                </td>
                <td>{{ order.buyer_id }}</td>
                <td>{{ order.category }}</td>
                <td>{{ order.order_date }}</td>
              </tr>
              {% endfor %}
            {% else %}
              <tr>
                  <td colspan="5" style="text-align: center;">현재 판매 내역이 없습니다.</td>
              </tr>
            {% endif %}
          </tbody>
          
        </table>
      </section>
    </main>
  </div>
{% endblock content %}