{% extends "indexSeller.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='productDetailStyle.css') }}">
{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="actions">
        <button onclick="location.href='/browse'">돌아가기</button>
    </div>
    <h1>{{ product.get('name', '상품 이름 없음') }}</h1> 
    <div class="product-container">
        <img src="{{ url_for('static', filename='uploads/' + product.get('img_path', 'default.jpg')) }}" alt="상품 이미지">
        <div class="product-info">
            <p><strong>판매자:</strong> {{ user if user else '정보 없음' }}</p>
            <p><strong>가격:</strong> ₩ {{ product.get('price', '정보 없음') | int }}</p>
            <p><strong>카테고리:</strong> {{ product.get('category', '정보 없음') }}</p>
            <p><strong>직거래 지역:</strong> {{ product.get('location', '정보 없음') }}</p>
            <p><strong>상품 상태:</strong> {{ product.get('condition', '정보 없음') }}</p>
            <p><strong>재고 수량:</strong> {{ product.get('stock', '정보 없음') }}</p>
            <p><strong>한 줄 소개:</strong> {{ product.get('description_short', '정보 없음') }}</p>
            <p><strong>상세 설명:</strong> {{ product.get('description_long', '정보 없음') }}</p>
        </div>
    </div>
    <div class="actions">
        <button onclick="location.href='/reviews/register/{{name}}'">리뷰 작성</button>
        <button class="like-button">
            <i class="fa fa-heart" id="heart"></i> 좋아요
        </button>
    </div>
</div>
{% endblock content %}