{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">제품 등록</h1>
        <form action="{{url_for('register_item')}}" method="POST" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="name">제품명</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="seller">판매자명</label>
                <input type="text" class="form-control" id="seller" name="seller" required>
            </div>
            <div class="form-group">
                <label for="addr">주소</label>
                <input type="text" class="form-control" id="addr" name="addr" required>
            </div>
            <div class="form-group">
                <label for="category">카테고리</label>
                <input type="text" class="form-control" id="category" name="category" required>
            </div>
            <div class="form-group">
                <label for="status">상태</label>
                <select class="form-control" id="status" name="status">
                    <option value="new">새 제품</option>
                    <option value="used">중고 제품</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">가격</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="stock">재고 수량</label>
                <input type="number" class="form-control" id="stock" name="stock" required>
            </div>
            <div class="form-group">
                <label for="image">제품 이미지</label>
                <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>

{% endblock content %}
